{
  "openapi": "3.1.0",
  "info": {
    "title": "ServiceM8 API",
    "description": "Move your app forward with the ServiceM8 API\n\n\n\n## Limits and Throttling\nTo ensure continuous quality of service, API usage can be subject to throttling. The throttle will be applied once an API consumer reaches a certain \nthreshold in terms of a maximum number of requests per minute. Most clients will never hit this threshold, but those that do, will get met by a \nHTTP 429 Too Many Requests response code. \n \nThere is a limit of 180 requests per minute, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per minute exceeded\".\nThere is a limit of 20000 requests per day, if you reach this you will receive a HTTP 429 with a text body of \"Number of allowed API requests per day exceeded\".\n\nWe encourage all API developers to anticipate this error, and take appropriate measures like e.g. using a cached value from a previous call, or passing on a message to the end user that gets subjected to this behaviour (if any).\n\nLimits are per Addon per account.\n",
    "termsOfService": "https://www.servicem8.com/terms-of-service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.servicem8.com/api_1.0"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "oauth2": []
    }
  ],
  "paths": {
    "/allocationwindow.json": {
      "get": {
        "tags": [
          "Allocation Windows"
        ],
        "operationId": "listAllocationWindows",
        "summary": "List all Allocation Windows",
        "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_schedule**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "read_schedule"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Allocation Windows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "Name of the allocation window that defines a time period for job scheduling. Common examples include 'Morning', 'Afternoon', 'Business Hours', etc.",
                        "type": "string"
                      },
                      "start_time": {
                        "description": "Start time of the allocation window measured in minutes from midnight. For example, 800 AM would be represented as 480 (8 hours × 60 minutes).",
                        "type": "string"
                      },
                      "end_time": {
                        "description": "End time of the allocation window measured in minutes from midnight. For example, 1700 (500 PM) would be represented as 1020 (17 hours × 60 minutes).",
                        "type": "string"
                      },
                      "sort_priority": {
                        "description": "Numeric value determining the display order of allocation windows. Lower values indicate higher priority. System automatically sets this to match the start_time in minutes, unless it's an urgent priority window which gets priority 0.",
                        "type": "string"
                      },
                      "uuid": {
                        "format": "uuid",
                        "description": "Unique identifier for this record",
                        "example": "123e4567-62aa-4c6b-b210-234377ad664b",
                        "type": "string"
                      },
                      "active": {
                        "enum": [
                          0,
                          1
                        ],
                        "type": "integer",
                        "default": 1,
                        "description": "Record active/deleted flag.  Valid values are [0,1]"
                      },
                      "edit_date": {
                        "example": "2025-09-01 12:00:00",
                        "readOnly": true,
                        "description": "Timestamp at which record was last modified"
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": [
                      {
                        "uuid": "123e4567-b811-42d0-9de3-234378d6a7cb",
                        "active": 1,
                        "edit_date": "2025-09-01 12:00:00",
                        "name": "string",
                        "start_time": "string",
                        "end_time": "string",
                        "sort_priority": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Allocation Windows"
        ],
        "operationId": "createAllocationWindows",
        "summary": "Create a new Allocation Window",
        "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_schedule**.\n\n\t\t\t\n\t\t\t\n#### Record UUID\nUUID is optional for record creation. If no UUID is supplied, a UUID will be automatically generated for the new record and returned in the `x-record-uuid` response header.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "manage_schedule"
            ]
          }
        ],
        "parameters": [],
        "requestBody": {
          "description": "Allocation Window record to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the allocation window that defines a time period for job scheduling. Common examples include 'Morning', 'Afternoon', 'Business Hours', etc.",
                    "type": "string"
                  },
                  "start_time": {
                    "description": "Start time of the allocation window measured in minutes from midnight. For example, 800 AM would be represented as 480 (8 hours × 60 minutes).",
                    "type": "string"
                  },
                  "end_time": {
                    "description": "End time of the allocation window measured in minutes from midnight. For example, 1700 (500 PM) would be represented as 1020 (17 hours × 60 minutes).",
                    "type": "string"
                  },
                  "sort_priority": {
                    "description": "Numeric value determining the display order of allocation windows. Lower values indicate higher priority. System automatically sets this to match the start_time in minutes, unless it's an urgent priority window which gets priority 0.",
                    "type": "string"
                  },
                  "uuid": {
                    "format": "uuid",
                    "description": "Unique identifier for this record",
                    "example": "123e4567-77b0-4aff-bd8a-2343764ad17b",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "x-record-uuid": {
                "description": "UUID of newly created Allocation Window record",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "0"
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "errorCode": "0",
                      "message": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to create this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allocationwindow/{uuid}.json": {
      "get": {
        "tags": [
          "Allocation Windows"
        ],
        "operationId": "getAllocationWindows",
        "summary": "Retrieve an Allocation Window",
        "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_schedule**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "read_schedule"
            ]
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the Allocation Window",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Allocation Window record retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "Name of the allocation window that defines a time period for job scheduling. Common examples include 'Morning', 'Afternoon', 'Business Hours', etc.",
                      "type": "string"
                    },
                    "start_time": {
                      "description": "Start time of the allocation window measured in minutes from midnight. For example, 800 AM would be represented as 480 (8 hours × 60 minutes).",
                      "type": "string"
                    },
                    "end_time": {
                      "description": "End time of the allocation window measured in minutes from midnight. For example, 1700 (500 PM) would be represented as 1020 (17 hours × 60 minutes).",
                      "type": "string"
                    },
                    "sort_priority": {
                      "description": "Numeric value determining the display order of allocation windows. Lower values indicate higher priority. System automatically sets this to match the start_time in minutes, unless it's an urgent priority window which gets priority 0.",
                      "type": "string"
                    },
                    "uuid": {
                      "format": "uuid",
                      "description": "Unique identifier for this record",
                      "example": "123e4567-62aa-4c6b-b210-234377ad664b",
                      "type": "string"
                    },
                    "active": {
                      "enum": [
                        0,
                        1
                      ],
                      "type": "integer",
                      "default": 1,
                      "description": "Record active/deleted flag.  Valid values are [0,1]"
                    },
                    "edit_date": {
                      "example": "2025-09-01 12:00:00",
                      "readOnly": true,
                      "description": "Timestamp at which record was last modified"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "uuid": "123e4567-e565-4b11-b50c-2343787f7adb",
                      "active": 1,
                      "edit_date": "2025-09-01 12:00:00",
                      "name": "string",
                      "start_time": "string",
                      "end_time": "string",
                      "sort_priority": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested record does not exist or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "errorCode": "404",
                      "message": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Allocation Windows"
        ],
        "operationId": "updateAllocationWindows",
        "summary": "Update an Allocation Window",
        "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_schedule**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "manage_schedule"
            ]
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the Allocation Window",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Allocation Window fields to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the allocation window that defines a time period for job scheduling. Common examples include 'Morning', 'Afternoon', 'Business Hours', etc.",
                    "type": "string"
                  },
                  "start_time": {
                    "description": "Start time of the allocation window measured in minutes from midnight. For example, 800 AM would be represented as 480 (8 hours × 60 minutes).",
                    "type": "string"
                  },
                  "end_time": {
                    "description": "End time of the allocation window measured in minutes from midnight. For example, 1700 (500 PM) would be represented as 1020 (17 hours × 60 minutes).",
                    "type": "string"
                  },
                  "sort_priority": {
                    "description": "Numeric value determining the display order of allocation windows. Lower values indicate higher priority. System automatically sets this to match the start_time in minutes, unless it's an urgent priority window which gets priority 0.",
                    "type": "string"
                  },
                  "uuid": {
                    "format": "uuid",
                    "description": "Unique identifier for this record",
                    "example": "123e4567-77b0-4aff-bd8a-2343764ad17b",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - The record was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "0"
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "errorCode": "0",
                      "message": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to update this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The record to update does not exist or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "errorCode": "404",
                      "message": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Allocation Windows"
        ],
        "operationId": "deleteAllocationWindows",
        "summary": "Delete an Allocation Window",
        "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_schedule**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "manage_schedule"
            ]
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the Allocation Window",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Allocation Window successfully archived (soft deleted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "0"
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "errorCode": "0",
                      "message": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to delete this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The record to delete does not exist or has already been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "errorCode": "404",
                      "message": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/asset.json": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "listAssets",
        "summary": "List all Assets",
        "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "read_assets"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "format": "uuid",
                        "description": "Unique identifier for this record",
                        "example": "123e4567-783a-4ac0-bd00-23437a90cd0b",
                        "type": "string"
                      },
                      "active": {
                        "enum": [
                          0,
                          1
                        ],
                        "type": "integer",
                        "default": 1,
                        "description": "Record active/deleted flag.  Valid values are [0,1]"
                      },
                      "edit_date": {
                        "example": "2025-09-01 12:00:00",
                        "readOnly": true,
                        "description": "Timestamp at which record was last modified"
                      },
                      "company_uuid": {
                        "format": "uuid",
                        "example": "123e4567-6405-4f9c-a1b9-23437e8aa0bb",
                        "type": "string",
                        "description": "UUID of the Client to which this Asset is attached"
                      },
                      "asset_code": {
                        "type": "string",
                        "description": "The unique code printed on this Asset's attached label (read only)"
                      },
                      "asset_type_uuid": {
                        "format": "uuid",
                        "example": "123e4567-cdb3-4816-bad8-23437c998adb",
                        "type": "string",
                        "description": "UUID of an Asset Type which defines the fields that can be stored for this Asset (read only)"
                      },
                      "name": {
                        "type": "string",
                        "description": "User-facing description of this asset",
                        "maxLength": 100
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "Latitude component of the Asset's location in degrees"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "Longitude component of the Asset's location in degrees"
                      },
                      "geo_timestamp": {
                        "example": "2025-09-01 12:00:00",
                        "type": "string",
                        "description": "Timestamp at which the Asset's location was last updated"
                      },
                      "altitude": {
                        "type": "number",
                        "description": "Altitude component of the Asset's location in metres"
                      },
                      "field_data": {
                        "type": "array",
                        "description": "JSON array containing field values for this asset. Each entry represents a field value defined by the associated AssetType, with field values stored as strings. Date fields use Y-m-d format. This field stores all custom fields defined in the asset type template.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uuid": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Must be the UUID of an AssetTypeField"
                            },
                            "fieldType": {
                              "type": "string"
                            },
                            "fieldName": {
                              "type": "string"
                            },
                            "fieldValue": {
                              "type": "string",
                              "description": "Convert all values to string. Dates shall be in Y-m-d format."
                            },
                            "sortOrder": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "uuid",
                            "fieldType",
                            "fieldName",
                            "fieldValue",
                            "sortOrder"
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": [
                      {
                        "uuid": "123e4567-49a8-4442-a58a-2343727c767b",
                        "active": 1,
                        "edit_date": "2025-09-01 12:00:00",
                        "company_uuid": "123e4567-7228-48e4-9022-234374f93fab",
                        "asset_code": "string",
                        "asset_type_uuid": "123e4567-62ab-4dba-b78a-234370d86c0b",
                        "name": "string",
                        "lat": "number",
                        "lng": "number",
                        "geo_timestamp": "2025-09-01 12:00:00",
                        "altitude": "number",
                        "field_data": [
                          {
                            "uuid": "string",
                            "fieldType": "string",
                            "fieldName": "string",
                            "fieldValue": "string",
                            "sortOrder": "number"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/asset/{uuid}.json": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "getAssets",
        "summary": "Retrieve an Asset",
        "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "read_assets"
            ]
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the Asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset record retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "format": "uuid",
                      "description": "Unique identifier for this record",
                      "example": "123e4567-783a-4ac0-bd00-23437a90cd0b",
                      "type": "string"
                    },
                    "active": {
                      "enum": [
                        0,
                        1
                      ],
                      "type": "integer",
                      "default": 1,
                      "description": "Record active/deleted flag.  Valid values are [0,1]"
                    },
                    "edit_date": {
                      "example": "2025-09-01 12:00:00",
                      "readOnly": true,
                      "description": "Timestamp at which record was last modified"
                    },
                    "company_uuid": {
                      "format": "uuid",
                      "example": "123e4567-6405-4f9c-a1b9-23437e8aa0bb",
                      "type": "string",
                      "description": "UUID of the Client to which this Asset is attached"
                    },
                    "asset_code": {
                      "type": "string",
                      "description": "The unique code printed on this Asset's attached label (read only)"
                    },
                    "asset_type_uuid": {
                      "format": "uuid",
                      "example": "123e4567-cdb3-4816-bad8-23437c998adb",
                      "type": "string",
                      "description": "UUID of an Asset Type which defines the fields that can be stored for this Asset (read only)"
                    },
                    "name": {
                      "type": "string",
                      "description": "User-facing description of this asset",
                      "maxLength": 100
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude component of the Asset's location in degrees"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude component of the Asset's location in degrees"
                    },
                    "geo_timestamp": {
                      "example": "2025-09-01 12:00:00",
                      "type": "string",
                      "description": "Timestamp at which the Asset's location was last updated"
                    },
                    "altitude": {
                      "type": "number",
                      "description": "Altitude component of the Asset's location in metres"
                    },
                    "field_data": {
                      "type": "array",
                      "description": "JSON array containing field values for this asset. Each entry represents a field value defined by the associated AssetType, with field values stored as strings. Date fields use Y-m-d format. This field stores all custom fields defined in the asset type template.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Must be the UUID of an AssetTypeField"
                          },
                          "fieldType": {
                            "type": "string"
                          },
                          "fieldName": {
                            "type": "string"
                          },
                          "fieldValue": {
                            "type": "string",
                            "description": "Convert all values to string. Dates shall be in Y-m-d format."
                          },
                          "sortOrder": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "uuid",
                          "fieldType",
                          "fieldName",
                          "fieldValue",
                          "sortOrder"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "uuid": "123e4567-4564-488f-90d7-23437385c68b",
                      "active": 1,
                      "edit_date": "2025-09-01 12:00:00",
                      "company_uuid": "123e4567-74ef-49c5-a78c-23437b8ba36b",
                      "asset_code": "string",
                      "asset_type_uuid": "123e4567-14de-4b6b-ab02-2343731c27db",
                      "name": "string",
                      "lat": "number",
                      "lng": "number",
                      "geo_timestamp": "2025-09-01 12:00:00",
                      "altitude": "number",
                      "field_data": [
                        {
                          "uuid": "string",
                          "fieldType": "string",
                          "fieldName": "string",
                          "fieldValue": "string",
                          "sortOrder": "number"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested record does not exist or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "errorCode": "404",
                      "message": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "updateAssets",
        "summary": "Update an Asset",
        "description": "\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "manage_assets"
            ]
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the Asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Asset fields to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "uuid": {
                    "format": "uuid",
                    "description": "Unique identifier for this record",
                    "example": "123e4567-cfbe-4e65-a225-2343751d9f9b",
                    "type": "string"
                  },
                  "company_uuid": {
                    "format": "uuid",
                    "example": "123e4567-1d7d-4a78-810c-234378f44e7b",
                    "type": "string",
                    "description": "UUID of the Client to which this Asset is attached"
                  },
                  "name": {
                    "type": "string",
                    "description": "User-facing description of this asset",
                    "maxLength": 100
                  },
                  "lat": {
                    "type": "number",
                    "format": "float",
                    "description": "Latitude component of the Asset's location in degrees"
                  },
                  "lng": {
                    "type": "number",
                    "format": "float",
                    "description": "Longitude component of the Asset's location in degrees"
                  },
                  "geo_timestamp": {
                    "example": "2025-09-01 12:00:00",
                    "type": "string",
                    "description": "Timestamp at which the Asset's location was last updated"
                  },
                  "altitude": {
                    "type": "number",
                    "description": "Altitude component of the Asset's location in metres"
                  },
                  "field_data": {
                    "type": "array",
                    "description": "JSON array containing field values for this asset. Each entry represents a field value defined by the associated AssetType, with field values stored as strings. Date fields use Y-m-d format. This field stores all custom fields defined in the asset type template.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Must be the UUID of an AssetTypeField"
                        },
                        "fieldType": {
                          "type": "string"
                        },
                        "fieldName": {
                          "type": "string"
                        },
                        "fieldValue": {
                          "type": "string",
                          "description": "Convert all values to string. Dates shall be in Y-m-d format."
                        },
                        "sortOrder": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "uuid",
                        "fieldType",
                        "fieldName",
                        "fieldValue",
                        "sortOrder"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - The record was updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "0"
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "errorCode": "0",
                      "message": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to update this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The record to update does not exist or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "errorCode": "404",
                      "message": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "operationId": "deleteAssets",
        "summary": "Delete an Asset",
        "description": "\n\t\t\t\nIn ServiceM8, deleting a record sets its `active` field to `0`. Inactive records are still accessible on the API, but are hidden in the UI. Inactive records can be restored by setting their `active` field to `1`.\n\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **manage_assets**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "manage_assets"
            ]
          }
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the Asset",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset successfully archived (soft deleted)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "0"
                    },
                    "message": {
                      "type": "string",
                      "example": "OK"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "errorCode": "0",
                      "message": "OK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to delete this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The record to delete does not exist or has already been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "404"
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                },
                "examples": {
                  "notFound": {
                    "value": {
                      "errorCode": "404",
                      "message": "Resource not found. The requested record does not exist or has been deleted."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
                    "value": {
                      "errorCode": 500,
                      "message": "An unexpected error occurred. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assettype.json": {
      "get": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "listAssetTypes",
        "summary": "List all Asset Types",
        "description": "\n\t\t\t\n#### Filtering\nThis endpoint supports result filtering. For more information on how to filter this request, [go here](/docs/filtering).\n\t\t\t\n\t\t\t\n#### OAuth Scope\nThis endpoint requires the following OAuth scope **read_assets**.\n\n\t\t\t",
        "security": [
          {
            "apiKey": []
          },
          {
            "oauth2": [
              "read_assets"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Asset Types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "format": "uuid",
                        "description": "Unique identifier for this record",
                        "example": "123e4567-cd61-4127-ad44-23437636adcb",
                        "type": "string"
                      },
                      "active": {
                        "enum": [
                          0,
                          1
                        ],
                        "type": "integer",
                        "default": 1,
                        "description": "Record active/deleted flag.  Valid values are [0,1]"
                      },
                      "edit_date": {
                        "example": "2025-09-01 12:00:00",
                        "readOnly": true,
                        "description": "Timestamp at which record was last modified"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the asset type. Used to identify different categories of assets that can be tracked in the system. Examples might include 'Air Conditioner', 'Fire Extinguisher', etc."
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": [
                      {
                        "uuid": "123e4567-2f7f-4f94-9e68-2343736af45b",
                        "active": 1,
                        "edit_date": "2025-09-01 12:00:00",
                        "name": "string"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "badRequest": {
                    "value": {
                      "errorCode": "1000",
                      "message": "An error occurred completing your request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication credentials are missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "401"
                    },
                    "message": {
                      "type": "string",
                      "example": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "errorCode": "401",
                      "message": "Authentication failed. Please check your API key or OAuth token."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You don't have permission to access this resource",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "403"
                    },
                    "message": {
                      "type": "string",
                      "example": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                },
                "examples": {
                  "forbidden": {
                    "value": {
                      "errorCode": "403",
                      "message": "Access forbidden. You don't have permission to access this resource."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - You have exceeded the rate limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "429"
                    },
                    "message": {
                      "type": "string",
                      "example": "Number of allowed API requests per minute exceeded"
                    }
                  }
                },
                "examples": {
                  "rateLimitMinute": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per minute exceeded"
                    }
                  },
                  "rateLimitDay": {
                    "value": {
                      "errorCode": 429,
                      "message": "Number of allowed API requests per day exceeded"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred on the server",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "number",
                      "format": "int32",
                      "example": "1000"
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred completing your request"
                    }
                  }
                },
                "examples": {
                  "serverError": {
[...]
